@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary-dark hover:bg-primary focus-visible:bg-primary disabled:bg-field;
    @apply disabled:text-prose/40 text-white text-xs uppercase;
    @apply transition-colors duration-100 ease-in-out;

    letter-spacing: 2px;

    display: flex;
    align-items: center;

    gap: 2.5rem;
    padding-right: 2.5rem;
  }

  .btn-primary::before {
    content: "";
    width: 3rem;
    aspect-ratio: 1;

    display: inline-block;
    background-color: rgba(0, 0, 0, 10%);
    background-image: url("/assets/images/icons/down-arrows.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .btn-primary:disabled::before,
  .btn-primary:focus-visible::before,
  .btn-primary:hover::before {
    background-image: url("/assets/images/icons/down-arrows-white.svg");
  }

  .btn {
    @apply border bg-none border-prose px-8 min-h-[3rem];
    @apply text-xs uppercase;

    letter-spacing: 2px;
  }

  .btn:focus:not(:disabled),
  .btn:hover:not(:disabled) {
    @apply bg-prose text-white;
    @apply transition-colors duration-100 ease-in-out;
  }

  .btn:disabled {
    @apply border-prose/20 text-prose/20 cursor-default;
  }

  .textfield {
    @apply px-4 py-3 bg-field border border-transparent text-input min-w-[15rem];
  }

  .textfield:focus {
    @apply outline-none border-primary;
  }

  .textfield:invalid {
    @apply border-error;
  }

  .textfield.textfield-area {
    @apply min-h-[4.5rem] resize-none;
  }
}

@layer utilities {
  .heading-1 {
    @apply font-serif font-bold tracking-tightest leading-none text-4.5xl md:text-max;
  }

  .heading-2 {
    @apply font-serif font-bold text-4.5xl tracking-tighter leading-tighter;
  }

  .heading-3 {
    @apply font-serif text-3.5xl tracking-tight leading-tight;
  }

  .wrapper {
    box-sizing: content-box;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-link {
    @apply hover:text-primary focus-visible:text-primary focus-visible:outline-white transition-colors duration-150 ease-in-out;
  }
}
