---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet"> 


  <title>Design System - FEM Minimalist Portfolio Website</title>
</head>
<body class="font-sans text-prose leading-body">
  <h1 class="heading-1">Design System</h1>

  <section class="space-y-8">
    <h2 class="heading-2">Colors</h2>
    <div class="flex gap-16">
      <h3 class="text-primary uppercase min-w-[10ch]">Primary</h3>

      <div class="flex flex-grow">
        <div class="w-full flex-grow">
          <div class="bg-primary w-14 h-14 rounded-full"></div>
          <p>Slightly Desaturated Cyan</p>
          <p>HSL(167deg, 36%, 54%)</p>
        </div>
        <div class="w-full flex-grow">
          <div class="bg-primary-dark w-14 h-14 rounded-full"></div>
          <p>Dark Blue</p>
          <p>HSL(205deg, 47%, 21%)</p>
        </div>
        <div class="w-full flex-grow">
          <div class="bg-prose w-14 h-14 rounded-full"></div>
          <p>Grayish Dark Blue</p>
          <p>HSL(245deg, 10%, 22%)</p>
        </div>
      </div>

    </div>

    <div class="flex gap-16">
      <h3 class="text-primary uppercase min-w-[10ch]">Secondary</h3>

      <div class="flex flex-grow">
        <div class="flex-grow w-full">
          <div class="bg-surface w-14 h-14 rounded-full" style="border: 1px solid #d7d7d7;"></div>
          <p>Very Light Grey (BG)</p>
          <p>HSL(0deg, 0%, 98%)</p>
        </div>
        <div class="flex-grow w-full">
          <div class="bg-field w-14 h-14 rounded-full"></div>
          <p>Light Grey (Text Field)</p>
          <p>HSL(240deg, 2%, 92%)</p>
        </div>
        <div class="flex-grow w-full">
          <div class="bg-error w-14 h-14 rounded-full"></div>
          <p>Bright Red (Errors)</p>
          <p>HSL(0deg, 90%, 57%)</p>
        </div>
      </div>

    </div>
  </section>

  <section hidden>
    <h2 class="heading-2">Typography</h2>

    <div class="flex gap-8">
      <h3 class="text-primary uppercase">Font Family</h3>
      <div class="font-serif bg-prose/10 flex items-center font-bold flex-grow max-w-xs">
        <p class="bg-prose text-white text-4.5xl p-7 rounded-br-3xl">Aa</p>
        <p class="px-6 text-xs">Ibarra Real Nova</p>
      </div>
      <div class="font-sans bg-prose/10 flex items-center font-bold flex-grow max-w-xs">
        <p class="bg-prose text-white text-4.5xl p-7 rounded-br-3xl">Aa</p>
        <p class="px-6 text-xs">Public Sans</p>
      </div>
    </div>

    <div>
      <div>
        <h3 class="text-primary uppercase">Headings</h3>

        <div>
          <p class="text-prose/50 text-xs">H1, Ibarra Real Nova Bold, 50px, 50px Line, -0,45 Character</p>
          <p class="heading-1">Jived fox nymph grabs quick waltz</p>
        </div>
        <div>
          <p class="text-prose/50 text-xs">H2, Ibarra Real Nova Bold, 40px, 42px Line, -0,36 Character</p>
          <p class="heading-2">Jived fox nymph grabs quick waltz</p>
        </div>
        <div>
          <p class="text-prose/50 text-xs">H3, Ibarra Real Nova Regular, 32px, 36px Line, -0,29 Character</p>
          <p class="heading-3">Jived fox nymph grabs quick waltz</p>
        </div>
      </div>

      <div>
        <h3 class="text-primary uppercase">Body</h3>
        <p class="text-prose/50 text-xs">Body 1, Public Sans Regular, 16px, 30px Line</p>
        <p class="text-base">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque.</p>
        <p class="text-prose/50 text-xs">Body 2, Public Sans Regular, 15px, 30px Line</p>
        <p class="text-sm">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque.</p>
      </div>
    </div>

  </section>

  <section>
    <h2 class="heading-2">Buttons</h2>
    <div>
      <h3 class="text-primary uppercase">Primary</h3>
      <div>
        <p>Normal State</p>
        <button class="btn-primary">About Me</button>
      </div>
      <div>
        <p>Disabled State</p>
        <button disabled class="btn-primary">About Me</button>
      </div>

    </div>
    <div>
      <h3 class="text-primary uppercase">Secondary</h3>
      <div>
        <p>Normal State</p>
        <button class="btn">Contact Me</button>
      </div>
      <div>
        <p>Hover State</p>
        <button></button>
      </div>
      <div>
        <p>Disabled State</p>
        <button disabled class="btn">Contact Me</button>
      </div>
    </div>
  </section>

  <section>
    <h2 class="heading-2">Form Elements</h2>
    <div>
      <div>
        <h3 class="text-primary uppercase">Text Area</h3>
        <div>
          <p>Normal State</p>
          <textarea name="" id="" cols="30" rows="2"></textarea>
        </div>
        <div>
          <p>Active State</p>
          <textarea name="" id="" cols="30" rows="2"></textarea>
        </div>
        <div>
          <p>Error State</p>
          <textarea name="" id="" cols="30" rows="2"></textarea>
        </div>
      </div>
      <div>
        <h3 class="text-primary uppercase">Text Field</h3>
        <div>
          <p>Normal State</p>
          <input name="" id=""/>
        </div>
        <div>
          <p>Active State</p>
          <input name="" id=""/>
        </div>
        <div>
          <p>Error State</p>
          <input name="" id=""/>
        </div>
      </div>
    </div>
  </section>
</body>
</html>