---
import Layout from "../Layouts/main.astro"
---

<Layout>
  <section id="intro">
    <div class="wrapper | sm:grid">
      <picture class="sm:row-span-full sm:col-span-full sm:place-self-center | w-full">
        <source media="(min-width: 1024px)" srcset="/assets/images/homepage/desktop/image-homepage-hero.jpg 1x, /assets/images/homepage/desktop/image-homepage-hero@2x.jpg 2x">
        <source media="(min-width: 768px)" srcset="/assets/images/homepage/tablet/image-homepage-hero.jpg 1x, /assets/images/homepage/tablet/image-homepage-hero@2x.jpg 2x">
        <source srcset="/assets/images/homepage/mobile/image-homepage-hero.jpg 1x, /assets/images/homepage/mobile/image-homepage-hero@2x.jpg 2x">
        <img class="w-full object-cover" src="/assets/images/homepage/mobile/image-homepage-hero.jpg" alt="a desktop computer monitor">
      </picture>
      <div class="sm:row-span-full sm:col-span-full sm:bg-white sm:justify-self-start sm:self-end sm:w-[75%] md:w-[40%]">
        <h1 class="heading-1 pt-6 pb-8 sm:pt-14 sm:pb-12 sm:max-w-[19ch] md:max-w-[13ch]">Hey, I’m Alex Spencer and I love building beautiful websites</h1>
        <a class="btn-primary">About Me</a>
      </div>
    </div>
  </section>

  <section class="wrapper | pt-24 | sm:flex sm:gap-16 md:gap-32" id="about">
    <picture class="">
        <source media="(min-width: 1024px)" srcset="/assets/images/homepage/desktop/image-homepage-profile.jpg 1x, /assets/images/homepage/desktop/image-homepage-profile@2x.jpg 2x">
        <source media="(min-width: 640px)" srcset="/assets/images/homepage/tablet/image-homepage-profile.jpg 1x, /assets/images/homepage/tablet/image-homepage-profile@2x.jpg 2x">
        <source srcset="/assets/images/homepage/mobile/image-homepage-profile.jpg 1x, /assets/images/homepage/mobile/image-homepage-profile@2x.jpg 2x">
        <img class="w-full h-full object-cover object-right" src="/assets/images/homepage/mobile/image-homepage-profile.jpg" alt="a desktop computer monitor">
      </picture>
    <div class="mt-8 sm:mt-0 pt-8 pb-[3.25rem] | max-w-[35ch] | border border-l-0 border-r-0 border-prose/[0.15]">
      <h2 class="heading-2">About Me</h2>
      <p class="pt-7 pb-6 | text-prose/80">I’m a junior front-end developer looking for a new role in an exciting company. I focus on writing accessible HTML, using modern CSS practices and writing clean JavaScript. When writing JavaScript code, I mostly use React, but I can adapt to whatever tools are required. I’m based in London, UK, but I’m happy working remotely and have experience in remote teams. When I’m not coding, you’ll find me outdoors. I love being out in nature whether that’s going for a walk, run or cycling. I’d love you to check out my work.</p>
      <a class="btn" href="/porfolio">Go to portfolio</a>
    </div>
  </section>

  <section id="contact-me" class="wrapper | mt-[7.25rem] mb-20 sm:mt-24 sm:mb-24">
    <div class="contact-me-section | text-center sm:text-left | flex flex-col sm:flex-row gap-10 sm:gap-8 items-center">
      <h2 class="heading-2 max-w-[14ch]">Interested in doing a project together?</h2>
      <a class="btn order-2" href="#">Contact Me</a>
    </div>
  </section>
</Layout>
