---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>Frontend Mentor | Minimalist Portfolio</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>

  <body>
    
  </body>
</html>
