---
const route = Astro.request.url.pathname;

const linkClasses = "sm:hover:text-prose/80 sm:focus-visible:text-prose/80 focus-visible:outline-black";
const activeLinkClasses = "text-primary focus-visible:outline-black";
---

<header
  class="
    relative
    wrapper
    
    py-6
    sm:pt-14
    sm:pb-12
    |
    flex
    justify-between
    items-center
  "
>
  <div>
    <img src="/assets/images/logo.svg" alt="Portfolio Logo" />
  </div>
  <nav>
    <button
      class="block sm:hidden"
      id="primary-nav-toggle"
      aria-controls="primary-navigation"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Menu</span
      ><img src="/assets/images/icons/hamburger.svg" alt="" />
    </button>

    <ul
      class="
        opacity-0
        transition-opacity
        duration-300
        ease-in-out
        sm:opacity-100
        |
        absolute
        sm:static
        top-full
        left-[30%]
        right-8
        py-10
        sm:py-0
        |
        bg-prose
        text-white
        text-xs
        uppercase
        tracking-wide
        sm:bg-transparent
        sm:text-prose
        |
        flex flex-col
        gap-8
        items-center
        sm:flex-row
        sm:gap-10
      "
      id="primary-navigation"
    >
      <li><a class={route == "/" ? activeLinkClasses : linkClasses} href="/">Home</a></li>
      <li><a class={route == "/portfolio" ? activeLinkClasses : linkClasses} href="/portfolio">Portfolio</a></li>
      <li><a class={route == "/contact" ? activeLinkClasses : linkClasses} href="/contact">Contact Me</a></li>
    </ul>
  </nav>
</header>

<script hoist>
  const nav = document.getElementById("primary-navigation");
  const toggle = document.getElementById("primary-nav-toggle");
  const toggleIcon = toggle.querySelector("img");

  let navVisible = false;

  toggle.addEventListener("click", () => {
    navVisible = !navVisible;

    if (navVisible) {
      toggle.setAttribute("aria-expanded", "true");
      toggleIcon.setAttribute("src", "/assets/images/icons/close.svg");
      nav.classList.remove("opacity-0");
    } else {
      toggle.setAttribute("aria-expanded", "false");
      toggleIcon.setAttribute("src", "/assets/images/icons/hamburger.svg");
      nav.classList.add("opacity-0");
    }
  });
</script>
