---
import Layout from "../../Layouts/main.astro"
---

<Layout title="Portfolio">
  <h1 class="sr-only">Portfolio Index</h1>

  <div class="wrapper | flex flex-col gap-[4.5rem] sm:gap-20">
    <article class="max-w-[1015px] | flex flex-col gap-8 sm:flex-row sm:items-center sm:gap-0 md:items-stretch">
      <div class="w-full">
         <picture class="w-full">
          <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/desktop/image-portfolio-manage.jpg 1x, /assets/images/portfolio/desktop/image-portfolio-manage@2x.jpg 2x">
          <source media="(min-width: 640px)" srcset="/assets/images/portfolio/tablet/image-portfolio-manage.jpg 1x, /assets/images/portfolio/tablet/image-portfolio-manage@2x.jpg 2x">
          <source srcset="/assets/images/portfolio/mobile/image-portfolio-manage.jpg 1x, /assets/images/portfolio/mobile/image-portfolio-manage@2x.jpg 2x">
          <img class="w-full h-full object-cover" src="/assets/images/portfolio/mobile/image-portfolio-manage.jpg" alt="screenshot of the manage project">
        </picture>
      </div>
      <div class="w-full | sm:pl-16 md:pl-[7.75rem]">
        <div class="pt-8 pb-[3.25rem] md:p-0 | sm:max-w-[35ch] md:h-full | border border-l-0 border-r-0 border-prose/[0.15] | md:flex md:flex-col md:justify-center">
          <h2 class="heading-2">Manage</h2>
          <p class="pt-7 pb-6 | text-sm md:text-base md:leading-body text-prose/80">
            This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.
          </p>
          <a href="/portfolio/manage" class="btn">View Project</a>
        </div>
      </div>
    </article>
    

    <article class="md:max-w-[1015px] md:ml-auto | flex flex-col gap-8 sm:flex-row-reverse sm:items-center sm:gap-0 md:items-stretch">
      <div class="w-full">
         <picture class="w-full">
          <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/desktop/image-portfolio-bookmark.jpg 1x, /assets/images/portfolio/desktop/image-portfolio-bookmark@2x.jpg 2x">
          <source media="(min-width: 640px)" srcset="/assets/images/portfolio/tablet/image-portfolio-bookmark.jpg 1x, /assets/images/portfolio/tablet/image-portfolio-bookmark@2x.jpg 2x">
          <source srcset="/assets/images/portfolio/mobile/image-portfolio-bookmark.jpg 1x, /assets/images/portfolio/mobile/image-portfolio-bookmark@2x.jpg 2x">
          <img class="w-full h-full object-cover" src="/assets/images/portfolio/mobile/image-portfolio-bookmark.jpg" alt="screenshot of the bookmark project">
        </picture>
      </div>
      <div class="w-full | sm:pr-16 md:pr-[7.75rem]">
        <div class="pt-8 pb-[3.25rem] md:p-0 | sm:max-w-[35ch] md:h-full | border border-l-0 border-r-0 border-prose/[0.15] | md:flex md:flex-col md:justify-center">
          <h2 class="heading-2">Bookmark</h2>
          <p class="pt-7 pb-6 | text-sm md:text-base md:leading-body text-prose/80">
            This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the features section.
          </p>
          <a href="/portfolio/bookmark" class="btn">View Project</a>
        </div>
      </div>
    </article>

    <article class="max-w-[1015px] | flex flex-col gap-8 sm:flex-row sm:items-center sm:gap-0 md:items-stretch">
      <div class="w-full">
         <picture class="w-full">
          <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/desktop/image-portfolio-insure.jpg 1x, /assets/images/portfolio/desktop/image-portfolio-insure@2x.jpg 2x">
          <source media="(min-width: 640px)" srcset="/assets/images/portfolio/tablet/image-portfolio-insure.jpg 1x, /assets/images/portfolio/tablet/image-portfolio-insure@2x.jpg 2x">
          <source srcset="/assets/images/portfolio/mobile/image-portfolio-insure.jpg 1x, /assets/images/portfolio/mobile/image-portfolio-insure@2x.jpg 2x">
          <img class="w-full h-full object-cover" src="/assets/images/portfolio/mobile/image-portfolio-insure.jpg" alt="screenshot of the insure project">
        </picture>
      </div>
      <div class="w-full | sm:pl-16 md:pl-[7.75rem]">
        <div class="pt-8 pb-[3.25rem] md:p-0 | sm:max-w-[35ch] md:h-full | border border-l-0 border-r-0 border-prose/[0.15] | md:flex md:flex-col md:justify-center">
          <h2 class="heading-2">Insure</h2>
          <p class="pt-7 pb-6 | text-sm md:text-base md:leading-body text-prose/80">
            This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the testimonial slider.
          </p>
          <a href="/portfolio/insure" class="btn">View Project</a>
        </div>
      </div>
    </article>

    <article class="md:max-w-[1015px] md:ml-auto | flex flex-col gap-8 sm:flex-row-reverse sm:items-center sm:gap-0 md:items-stretch">
      <div class="w-full">
         <picture class="w-full">
          <source media="(min-width: 1024px)" srcset="/assets/images/portfolio/desktop/image-portfolio-fylo.jpg 1x, /assets/images/portfolio/desktop/image-portfolio-fylo@2x.jpg 2x">
          <source media="(min-width: 640px)" srcset="/assets/images/portfolio/tablet/image-portfolio-fylo.jpg 1x, /assets/images/portfolio/tablet/image-portfolio-fylo@2x.jpg 2x">
          <source srcset="/assets/images/portfolio/mobile/image-portfolio-fylo.jpg 1x, /assets/images/portfolio/mobile/image-portfolio-fylo@2x.jpg 2x">
          <img class="w-full h-full object-cover" src="/assets/images/portfolio/mobile/image-portfolio-fylo.jpg" alt="screenshot of the fylo project">
        </picture>
      </div>
      <div class="w-full | sm:pr-16 md:pr-[7.75rem]">
        <div class="pt-8 pb-[3.25rem] md:p-0 | sm:max-w-[35ch] md:h-full | border border-l-0 border-r-0 border-prose/[0.15] | md:flex md:flex-col md:justify-center">
          <h2 class="heading-2">Fylo</h2>
          <p class="pt-7 pb-6 | text-sm md:text-base md:leading-body text-prose/80">
            This project was built in pure HTML and CSS. I had mobile and desktop designs to work to and built it so that it was fully-responsive. I took a mobile-first approach and used modern CSS like Flexbox and Grid for layout purposes.
          </p>
          <a href="/portfolio/fylo" class="btn">View Project</a>
        </div>
      </div>
    </article>
  </div>
  

  <section id="contact-me" class="wrapper | mt-[7.25rem] mb-20 sm:mt-24 sm:mb-24">
    <div class="contact-me-section | text-center sm:text-left | flex flex-col sm:flex-row gap-10 sm:gap-8 items-center">
      <h2 class="heading-2 max-w-[14ch]">Interested in doing a project together?</h2>
      <a href="/contact" class="btn order-2">Contact Me</a>
    </div>
  </section>


</Layout>
